<nav id="block-exam-main-menu" class="contextual-region" role="navigation" aria-labelledby="block-exam-main-menu-menu">
  <h2 class="visually-hidden" id="block-exam-main-menu-menu">Main navigation</h2>
  <ul class="menu">
    {% for item in items %}
      <li class="menu-item{{ item.is_expanded ? ' expanded' : '' }}{{ item.is_active ? ' active' : '' }}">
        <a href="{{ item.url }}" class="menu-link">{{ item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
<nav class="main-menu">
  <ul class="menu">
    <li class="menu-item home-link">
      <a href="{{ path('<front>') }}">
        <img src="/sites/default/files/styles/thumbnail/public/2025-08/home.png" alt="Home" />
      </a>
    </li>
    {{ page.primary_menu }}
    <li class="social-icons">
      <a href="https://facebook.com" target="_blank">
        <img src="/sites/default/files/styles/thumbnail/public/2025-07/fb_1.png" alt="Facebook" />
      </a>
      <a href="https://twitter.com" target="_blank">
        <img src="/sites/default/files/styles/thumbnail/public/2025-07/twit_1.png" alt="Twitter" />
      </a>
      <a href="https://instagram.com" target="_blank">
        <img src="/sites/default/files/styles/thumbnail/public/2025-07/in_2.png" alt="Instagram" />
      </a>
    </li>
  </ul>
</nav>

